.header-logo {
    width: 13%;
    margin-top: 28px;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    background: #23252b;
}


.itens-container ol {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    list-style: none;
    position: relative;
    border: 1px solid white;
    align-items: center;
}

.itens-container {
    width: 30%;
    position: relative;
    right: 7%;
    top: 4%;
    
}

ol a {
    text-decoration: none;
    color: white;
}

.tryfree {
    display: flex;
    align-items: center;
}

.tryfree-text {
    color: #fab818;
}

.premium-text {
    color: white;
}

.crown {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.crown-icon {
    width: 30px;
    height: 100px;
    color: #fab818;;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}

.navigation-buttons {
    height: 100px;
    width: 30px;
    color: white;
}


 @media (max-width: 1300px) {
    .header-wrapper {
        display: flex;
        justify-content: space-around;
        background: #23252b;
    }

    .itens-container {
        display: none;
    }
    .header-logo {
        width: 20%;
        margin-top: 30px;
    }

    .navigation-wrapper {
        display: flex;
        justify-content: space-around;
        width: 30%;
        align-items: center;
        position: relative;
        left: 10%;
    }

}



@media (max-width: 900px) {
    .header-wrapper {
        display: flex;
        justify-content: space-around;
        background: #23252b;
    }

    .itens-container {
        display: none;
    }
    .header-logo {
        width: 22%;
        margin-top: 30px;
    }

    .navigation-wrapper {
        display: flex;
        justify-content: space-around;
        width: 40%;
        align-items: center;
        position: relative;
        left: 10%;
    }

}








/* config mobile */
@media (max-width: 390px) {
    .header-logo {
        width: 20%;
        margin: 10px;
    }    

    .itens-container ol {
        display: flex;
        justify-content: space-between;
        margin: 4.2%;
        font-size: 0.8em;
        list-style: none;
    }

    .itens-container {
        width: 60%;
    }

    .tryfree {
        display: flex;
        align-items: center;
    }
    
    .tryfree-text {
        display: none;
    }
    
    .premium-text {
        display: none;
    }
    
    .crown {
        display: none;
    }

    .navigation-buttons {
        display: none;
    }
}



@media (max-width: 430px) {
    .header-logo {
        width: 20%;
        margin: 10px;
    }    

    .itens-container ol {
        display: flex;
        justify-content: space-between;
        margin: 4.2%;
        font-size: 0.8em;
        list-style: none;
    }

    .itens-container {
        width: 60%;
    }

    .tryfree {
        display: flex;
        align-items: center;
    }
    
    .tryfree-text {
        display: none;
    }
    
    .premium-text {
        display: none;
    }
    
    .crown {
        display: none;
    }

    .navigation-buttons {
        display: none;
    }
}


